
div.adlisting {
    height:100vh;
    overflow-y:scroll;
}

.adpane{
    height:100%;
}
iframe.adpane {
    width:100%;
}

li {
    list-style: none;
}
li.zebra {
    background-color: #DDDDDD;
}
li.selected {
    background-color: #FFEEBB;
}